*{
	margin:0; padding:0;
	font-family:roboto,arial;
}
body{
	width:100%;
	background:white;
}
a{
	text-decoration:none;
	color:black;
}
ul{
	list-style-type:none;
}

/**top**/
#top{
	width:100%;
	height:30px;
	background:#2e2e2e;
}
#top-content{
	width:90%;
	margin:auto;
	height:30px;
}
#top-content li{
	float:left;
	width:80px;
	height:30px;
}
#top-content li a{
	display:block;
	line-height:30px;
	text-align:center;
	color:#ddd;
	font-size:15px;
}
#top-content li a:hover{
	color:#ff3333;
}
/**header**/
#header{
	width:100%;
	height:60px;
	background:#222222;
}
#header-content{
	width:90%;
	margin:auto;
	height:60px;
}
.logo{
	width:15%;
	height:60px;
	float:left;
}
.logo img{
	width:100%;
	height:60px;
}
.menu{
	width:50%;
	height:40px;
	margin-left:30px;
}
.menu li{
	float:left;
	margin-top:15px;
	width:100px;
	height:40px;
}
.menu li a{
	display:block;
	text-align:center;
	line-height:40px;
	color:white;
	font-weight:bold;
	transition:0.5s ease all;
}
.menu li a:hover{
	transition:0.5s ease all;
	background:white;
	color:#ff3333;
	border-radius:1em;
}

/**main**/
#main{
	width:90%;
	height:1000px;
	margin:auto;
	margin-top:20px;
}
#main-left{
	width:65%;
	float:left;
}
#main-right{
	width:34%;
	float:left;
	height:500px;
	border:1px solid red;
	margin-left:5px;
}

/**main-left**/
.main-top{
	width:100%;
	height:400px;
}
.main-top-left{
	float:left;
	height:400px;
	width:60%;
	border:1px solid #ddd;
}
.main-top-right{
	float:left;
	width:38.5%;
	height:400px;
	margin-left:5px;
	background:#3333;
}
.main-top-img{
	width:100%;
	height:200px;
}
.main-top-img img{
	width:100%;
	height:200px;
}
.main-top-content{
	width:100%;
	height:190px;
	margin-top:10px;
}
h3{
	width:98%;
	height:50px;
	line-height:50px;
}
h3 a{
	color:black;
	font-size:25px;
	padding-left:0.5em;
}
p{
	color:#333;
	margin-top:10px;
	padding-left:0.5em;
	font-style:italic;
}
/**banner**/
.banner{
	width:100%;
	height:350px;
	margin-top:10px;
}

/**index-main**/
.index-main{
	width:100%;
	margin-top:10px;
	border-top:4px solid #ff3333;
}
.main-content{
	width:98%;
	height:150px;
	margin:5px 5px;
}
.main-content-img{
	width:35%;
	height:150px;
	float:left;
}
.main-content-img img{
	width:100%;
	height:150px;
}
.main-content-excerpt{
	width:60%;
	height:150px;
	float:left;
	margin-left:5px;
}

img{
	width:100%;
	height:100px;
}
.img{
	width:100%;
	margin-top:10px;
	height:150px;
	border:1px solid black;
}
.img img{
	width:100%;
	height:500px;
}